body {
    font-family: 'Playfair Display', serif;
}

.logo {
    height: 34%;
    width: 32%;
    background-color: hsl(53, 98%, 20%);
       
  }

  .float {
      float: left;
  }

  .margin {
      margin-bottom: 150px;
  }

  .inputB {
      background-color: #9cc494;
  }
 
  .container {
      margin-top: 45px;
  }

  .input {
      width: 40%;
  }

  .hero {
      background-color: #ffffff;
      height: 170px;
      text-align: center;
  }
  .imgSize {
      background-color: #72846F;
      width: 350px;
      height: 300px;
      float: right;
  }

  .navbar {
    background-color: #9cc494;
  }

  #map{
      height: 200px;
  }