body {
    font-family: 'Playfair Display', serif;
}

.logo {
    height: 34%;
    width: 32%;
    background-color: hsl(53, 98%, 20%);
       
  }

  #home {
    margin: 5px;
  }

  .float {
      float: left;
  }
  .floatR {
      float: right;
  }

  .margin {
      margin-bottom: 150px;
  }

  .inputB {
      background-color: #9cc494;
  }
 
  .container {
      margin-top: 10px;
  }

  .input {
      width: 80%;
  }

  .hero {
      background-color: #ffffff;
      height: 170px;
      text-align: center;
  }
  .imgSize {
      background-color: #72846F;
      width: 350px;
      height: 300px;
      float: right;
  }

  .navbar {
    background-color: #9cc494;
  }

  /* Map Style */
  #map{
      height: 200px;
  }
  #mapResult{
    height: 600px;
  }
  .tile{
    margin-top:30px;
  }
  /* This style for Zoom controller of MAP */
  .gm-style .controls {
    font-size: 28px;
    /* this adjusts the size of all the controls */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 300;
    height: 1em;
    margin: 6px;
    text-align: center;
    user-select: none;
    padding: 2px;
    width: 1em;
  }
  .gm-style .controls button {
    border: 0;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
  }
  .gm-style .controls button:hover {
    color: rgba(0, 0, 0, 0.9);
  }
  .gm-style .controls.zoom-control {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .gm-style .controls.zoom-control button {
    font: 0.85em Arial;
    margin: 1px;
    padding: 0;
  }
  .rightNav {
      width: 200px;
      position: absolute;
      top: 25px;
      right: 30px;
      background-color: #9cc494;
  }

  

  .hidden {
    display: none;
  }

  #loading-page {
    text-align: center;
    font-size: 3.0rem;
  }


  /* infowindow Style */
  .firstHeading{
      font-size: 15px;
      font-weight: 1000;
      margin-bottom: 15px;
      color: green;
  }
  #imgTrails{
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      width: 150px;
  }
  .description{
    font-weight: 500;
    margin-bottom: 5px;
  }
  .starStyle{
      color:gold;
  }

  .difficultyBackground{
      background-color: yellow;
      color:red;
      padding: 2px;
  }
  .Weather{
      font-weight: 1000;
      margin-top: 18px;
      float: left;
  }

  #saveBtn{
      border: none;
      border-radius: 2%;
      height: 20px;
      width: 400px;
      display: block;
      background-color: rgb(0, 90, 8);
      color: white;
  }
  #saveBtn:hover{
        cursor: pointer;
      background-color: rgb(0, 122, 10);

  }
  .displayCard{
      /* max-width: 600px; */
      margin-right:30px;
  }
  .userSaveDisplay{
      margin-top: 20px;
      border: 1px solid green;
  }

  h1.title {
    font-family: "cabin sketch";
    color: #7a4709;
    font-size: 50px;
  }


  .subtitle {
    /* text-decoration: underline; */
    font-family: cursive;
  }

  .card {
    /* visibility: hidden; */
    background-color: #f1be4fc0;
    margin-left: 15px;
    width: 700px;
    text-decoration: none;
  }
 
  .media-content p{
      margin-bottom: 5px;
      font-family: cursive;
  }

  .rcorners {
    border-radius: 15px 50px;    
  }

  .rcorners2 {
    border-radius: 1px 1px 30px 30px;
  }
  .tree {
    image-orientation: flip;
  }

  @media (max-width: 744px){
    .tree{
        display: none;
    }
  }

  @media (max-width: 500px){
    .cardImage{
        width:100px;
    }
    .media-content{
        font-size: 0.8rem;
    }
    .title.is-4{
        font-size: 1.2rem;
    }
  }